* {
    border-radius: 10px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 13px;
    transition: 0.5s;
}
    

window#waybar {
    background: rgba(30, 30, 46, 0);
    color: #f4d9e1
}

tooltip {
    background: #242222;
    border-radius: 5px;
    border: none;
}

/* workspaces */

#workspaces {
    margin-left: 5px;
    padding: 0px;
    padding-left: 5px;
}

#workspaces button {
    color: #8ea1b8;
    background: #1f1f1f;
}

#workspaces button.active {
    color: #FFFFFF;
    background: #454545;
}

#workspaces button.focused {
    color: #afbefa;
    background: #1f1f1f;
}

#workspaces button.urgent {
    color: #11111b;
    background: #1f1f1f;
}

#workspaces button:hover {
    color: #cdd6f4;
    background: #1f1f1f;
}

/* temperature */

#temperature {
    margin-left: 5px;
    color: #FFFFFF;
    background: #1f1f1f;
}

#temperature.critical {
    color: #eba0ac;
    background: #1f1f1f;
}

/* tray */

#tray {
    margin-right: 10px;
    background: #1f1f1f;
}

/* custom-power_profile */

#custom-power_profile {
    color: #a6e3a1;
    background: #1f1f1f;
}

/* window */

#window {
    margin-left: 5px;
    margin-right: 5px;
}

/* clock */

#clock {
    color: #FFFFFF;
    margin-right: 5px;
    border-right: 0px;
    background: #1f1f1f;
}

/* network */

#network {
    color: #FFFFFF;
    border-left: 0px;
    border-right: 10px;
    background: #1f1f1f;
}

/* bluetooth */

#bluetooth {
    color: #89b4fa;
    margin-right: 5px;
    margin-left: 5px;
    background: #1f1f1f;
} 

/* custom-logo */

#custom-logo {
    color: #2397fc;
    margin-left: 10px;
    background: #1f1f1f;
}

/* pulseaudio */

#pulseaudio {
    margin-right: 0px;
    color: #FFFFFF;
    background: #1f1f1f;
}

/* pulseaudio/slider */

#pulseaudio.microphone {
    color: #FFFFFF;
    margin-right: 5px;
    background: #1f1f1f;
}

#pulseaudio-slider{
    margin-right: 5px;
    padding-left: 0px;
    background: #1f1f1f;
}

#pulseaudio-slider slider {
    background: #fff7f7;
    padding: 0;
    border: none;
}

#pulseaudio-slider trough {
    min-width: 150px;
    border: none;
    background-color: #FFFFFF;
}

#pulseaudio-slider highlight {
    min-width: 10px;
    background-color: #FFFFFF;
    border: none;
    min-height: 4px;
}

#custom-active-output {
    margin-left: 5px;
    color: #FFFFFF;
    background: #1f1f1f;
}

#custom-active-input {
    margin-left: 5px;
    color: #FFFFFF;
    background: #1f1f1f;
}
